# What is Two-Step Verification?

# What is Two-Step Verification?

Two-Step Verification is a feature that adds an extra layer of security to your account
log-in.

When you try to log in, 2-Step Verification sends you a unique security code. When
you sign up for 2-Step Verification, you can choose to receive the security code by
text message or authenticator app.

You need to enter both the code and your password to log in.

To enable 2-step verification, go to

Your Account

## To enable 2-step verification:

1. In Your Account, select Login & security.
2. Follow the on-screen instructions.

## To disable 2-step verification:

1. In Your Account, select Login & security.
2. Select Disable beside Two-Step Verification.

## Related links

Managing Your Account

Recover Your Account after Two-Step Verification Fails